

.top-spaced{
    margin-top:15px !important;
}
.bottom-spaced{
    margin-bottom:15px !important;
}

.bootstrap-dialog .modal-header {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.modal-body{
    background-color : #ECF0F5 !important;
}

table.table-middle > tbody > tr > td {
    vertical-align: middle;
}

.item_hito{
    border-bottom: 1px solid #000;
}

.no-resize{
    resize: none;
}

.info-box-number{ font-size: 38px !important}

.table > thead {background-color: #3C8DBC; color : #fff}

.label-square {border-radius:0px !important}